<?xml version="1.0"?>
<config>
    <modules>
        <Chapagain_FacebookLikeBoxPopup>
            <version>0.1.0</version>
        </Chapagain_FacebookLikeBoxPopup>
    </modules>
    <frontend>
        <routers>
            <facebooklikeboxpopup>
                <use>standard</use>
                <args>
                    <module>Chapagain_FacebookLikeBoxPopup</module>
                    <frontName>facebooklikeboxpopup</frontName>
                </args>
            </facebooklikeboxpopup>
        </routers>
        <layout>
            <updates>
                <facebooklikeboxpopup>
                    <file>chapagain/facebooklikeboxpopup.xml</file>
                </facebooklikeboxpopup>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<facebooklikeboxpopupadmin>
				<use>admin</use>
				<args>
					<module>Chapagain_FacebookLikeBoxPopup</module>
					<frontName>facebooklikeboxpopupadmin</frontName>
				</args>
			</facebooklikeboxpopupadmin>
        </routers>
    </admin>   
    <global>			
        <models>
            <facebooklikeboxpopup>
                <class>Chapagain_FacebookLikeBoxPopup_Model</class>                
            </facebooklikeboxpopup>            
        </models>        
        <blocks>
            <facebooklikeboxpopup>
                <class>Chapagain_FacebookLikeBoxPopup_Block</class>
            </facebooklikeboxpopup>				
        </blocks>
        <helpers>
            <facebooklikeboxpopup>
                <class>Chapagain_FacebookLikeBoxPopup_Helper</class>
            </facebooklikeboxpopup>
        </helpers>            
    </global> 
    <default>		
		<facebooklikeboxpopup>
			<general>
				<is_enable>1</is_enable>
				<fb_link>http://www.facebook.com/mukesh.chapagain</fb_link>
				<fb_name>Mukesh Chapagain</fb_name>
				<popup_width>400</popup_width>
				<popup_height>220</popup_height>
				<popup_text>Like us on Facebook</popup_text>
				<show_faces>1</show_faces>
				<adapt_container_width>1</adapt_container_width>
			</general>	
			<sidebar>
				<is_enable>1</is_enable>
				<show_in_right_sidebar>1</show_in_right_sidebar>
				<fb_link>http://www.facebook.com/mukesh.chapagain</fb_link>
				<fb_name>Mukesh Chapagain</fb_name>
				<popup_width>400</popup_width>
				<popup_height>220</popup_height>
				<popup_text>Like us on Facebook</popup_text>
				<show_faces>1</show_faces>
				<adapt_container_width>1</adapt_container_width>
			</sidebar>
		</facebooklikeboxpopup>			
	</default>   
</config>
